:root {
    --blue: rgba(1, 47, 250, 0.5);
    --yellow: rgba(231, 214, 58, 0.5);
    --orange: rgba(218, 140, 22, 0.5);
    --red: rgba(236, 94, 94, 0.5);
}

html {
    max-width: 413px;
    max-height: 900px;
}

body {
    margin: 0;
    padding: 0;
    max-width: 413px;
    background-image: url(./assets/zombieImages/bp_fatty_01-removebg-preview.png);
    background-size: 95%;
    /* background-position-x: -150px; */
    /* background-position-y: center; */
    /* background-position-y: 150px; */
    background-position-y: 170px;
    background-repeat: no-repeat;
}

/* Navbar */
nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#mkDeck {
    margin: .5rem;
}

nav form button {
    margin: .3rem .5em;
    width: 100;
}

/* INPUT */
.input-group {
    justify-content: center;
    margin-top: 1rem;
}

.input-group input {
    margin: 0 .5em;
}

/* Cards */
#display-cards {
    display: grid;
    grid-template: repeat(8, 12.5%) / repeat(4, 25%);
    height: 70vh;
    padding: .5rem 0;
}

h3 {
    font-size: large;
}

.card {
    margin: 1 .5rem;
    max-height: 238px;
    justify-self: center;
    width: 156px;
    padding: .5rem;
    color: black;
}

#threat-card {
    grid-area: 1 / 2 / span 3 / span 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: lightgrey;
}


#pull-deck {
    grid-area: 5 / 2 / span 3 / span 2;
    background-image: url('./assets/zombieImages/spawn_back.JPG');
    background-position: center;
    background-size: cover;
}

/* FOOTER */
footer {
    background-color: lightgrey;
    /* width: 100vw; */
    width: 100%;
    height: 4em;
    padding-top: .5rem;
    text-align: center;
}